@import "blocks/header.css";
@import "blocks/intro.css";
@import "blocks/loader.css";
@import "blocks/content.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* varible */
:root {
    --size: calc(1vw+1vh);
    --back: #202020;
    --white: rgb(238, 238, 238);
    --orange: #F78914;
    --green: #87bb27;
    --black: #000;
}

html, body {
    background-color: var(--black);
    color: var(--white);
    overflow-x: hidden;
    font-size: calc(var(--size)*1.6);
    line-height: calc(var(--size)*2);
    font-family: 'Oswald', sans-serif;
}
.container {
    width: 100%;
    max-width: 1400px;
    padding: 1% 5%;
    margin: 0;
}
::-webkit-scrollbar {
    width: calc(var(--size)*0.8);
    height: calc(var(--size)*1.6);
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 10px;
    box-shadow: 1px 1px 1px var(--green);
    opacity: .6;
}
::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}