.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5% 0;

    border-radius: 10px;
}
.content__inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.content__h2 {
    margin: 2% 0 6% 0;
    text-align: center;
    width: 100%;
    font-size: calc(var(--size)*3.6);
    line-height: calc(var(--size)*4) ;
    font-weight: 700;
    background: linear-gradient(45deg, var(--green), var(--orange));
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content__block {
    max-width: calc(var(--size)*40);
    margin: 8% 0;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    transition: all .4s linear;
    padding: 5%;
}
.content__block:hover {
    background-color: rgb(254,254,254,.2);
    box-shadow: 3px 3px 8px black;
    cursor: pointer;
}
.content__row {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.content__number {
    color: #ffffff;
    /* background-color: black;
    border-radius: 0 0 100% 100%; */
    width: 100%;
    text-align: center;
    font-size: calc(var(--size)*2.1);
}
.content__title {
    text-align: center;
    color: #ffffff;
    font-size: calc(var(--size)*1.8);
    /* background-color: black;
    border-radius: 100% 100% 0 0; */
    max-width: calc(var(--size)*30);
}
.content__span { 
    width: 100%;
    max-width: 100px;
    height: 3px;
    display: block;
    content: "";
    background-color: aliceblue;
    background: linear-gradient(45deg, var(--green), var(--orange));
    margin: 20px 0;
}

@media screen and (max-width:660px)  {
    .content__inner {
        justify-content: space-evenly;
    }
    .content__block {
        padding: 8%;
        margin: 8% 1%;
    }
    .content__h2 {
        margin: 5% 0 8% 0;
        font-size: calc(var(--size)*6.6);
        line-height: calc(var(--size)*8) ;
    }
    .content__number {
        font-size: calc(var(--size)*4.1);
    }
    .content__title {
        text-align: center;
        color: #ffffff;
        font-size: calc(var(--size)*4);
        /* background-color: black;
        border-radius: 100% 100% 0 0; */
        max-width: calc(var(--size)*30);
        line-height: calc(var(--size)*4);

    }
    .content__span { 
        width: 100%;
        max-width: 100px;
        height: 3px;
        display: block;
        content: "";
        background-color: aliceblue;
        background: linear-gradient(45deg, var(--green), var(--orange));
        margin: 20px 0;
    }
}
