.intro {
    background-color: var(--black);
    width: 100%;
    height: 120vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0  40% 40%;
}
.intro__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    
}
.inro__obj {
    display: block;
    width: 70%;
    height: 70%;
    margin: 10% 10% 0 0;
    position: relative;
    object-fit: cover ;
    box-shadow: 0 0 10px 10px black;
    border-radius: 0 0  40% 40%;
    opacity: .7;
}
.intro_content {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    position: absolute;
    flex-direction: column;
    width: 100%;
    z-index: 100;
    padding: 2% 0;
    background: rgb(209,209,209);
    background: radial-gradient(circle, rgba(209,209,209,.4) 0%, rgba(0,0,0,.7) 100%);
}
.intro__name {
    font-size: calc(var(--size)*3);
    color: var(--orange);
}
.intro__title {

  margin: 2% 0 2% 0;
    text-align: center;
    width: 100%;
    font-size: calc(var(--size)*3.6);
    line-height: calc(var(--size)*3) ;
    font-weight: 700;
    background: linear-gradient(45deg, var(--green), var(--orange));
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: calc(var(--size)*4);
    line-height:  calc(var(--size)*4.4);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    /* margin:  2% 0 3% 0; */
    /* text-shadow: 3px 3px 1px var(--orange), -3px -3px 1px var(--green); */
}


.intro__learn, .intro__learn::after {
    width: calc(var(--size)*34);
    height: calc(var(--size)*4.6);
    font-size: calc(var(--size)*2.2);
    font-family: "audiowide";
    background: linear-gradient(45deg, transparent 5%, var(--orange) 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: calc(var(--size)*5);
    box-shadow: 6px 0px 0px var(--green);
    outline: transparent;
    position: relative;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
  
  .intro__learn::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, var(--green) 3%, var(--green) 5%, var(--orange) 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px var(--green);
    clip-path: var(--slice-0);
  }
  
  .intro__learn:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

  /* mobil and planshet version */
@media screen and (max-width:660px) {
  .intro {
    height: 90vh;
}
.intro__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
}
.inro__obj {
  
  width: 90%;
  height: 40vh;
  margin: 10% 10% 0 0;
  
}

.intro_content {
  height: 20vh;
}
.intro__name {
    font-size: calc(var(--size)*6);
    color: var(--orange);
}
.intro__title {
  margin: 4% 0 4% 0;
    font-size: calc(var(--size)*7);
    line-height: calc(var(--size)*7) ;
    font-weight: 700;
}
.intro__learn, .intro__learn::after {
    width: calc(var(--size)*50);
    height: calc(var(--size)*8);
    font-size: calc(var(--size)*4.2);
    line-height: calc(var(--size)*8);
  }
}
