.parthner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5% 0 10% 0;
}
.parthner_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.parthner__block {
    display: block;
    margin:  1%;
    opacity: .5;
    cursor: pointer;
    transition: all .3s linear;

    width: 100%;
    max-width: calc(var(--size)*10);
    /* box-shadow: 2px 2px 6px  black; */
    border-radius: 10px;
}
.parthner__block:hover {
    opacity: 1;
}
@media screen and (max-width:660px) {
    .parthner__block {
        margin: 2% 1%;
        width: 100%;
        max-width: calc(var(--size)*28);
        /* box-shadow: 2px 2px 6px  black; */
    }
}